# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Environment files
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
